body{
    margin: 0;
    background: linear-gradient(red, black);
}

.box{
    background: #090a11;
    margin: 0;
    opacity: 0.95;
    position: fixed;
    width: 100%;
}

.box_cabecalho{
display: flex;
justify-content: space-between; 
margin: 0px 15% 0 15%;
}   

.box_cabecalho-titulo{
    color: #c3073f;
}

.box_cabecalho-nav-ul{
    display: flex;
    list-style: none;   
}

.box_cabecalho-nav-ul-li{
    padding: 10px;
    color: #c5c6c7;
}

.section_img-banner{
    width: 100%;
}

.container{
    display: flex;
    margin: 0 10px 0 10px;
}

.container_img{
    width: 50%;
}

.container_titulo{
text-align: center;
color: white;
}

.container_p{
    text-align: justify;
    margin: 20px;
    color: white;
}

.section{
    display: flex;
}

.container_img2{
    width: 45%; 
    margin: 10px 10px 0 10px;
}

.container_titulo3 {
    text-align: center;
    color: white;
}

.container_p2{
    text-align: right;
    margin: 20px;
    display: flex;
    text-align: start;
    color: white;
}

